
*{
	font-family: 'Helvetica Neue', 'Noto Sans TC', sans-serif ;

}

body{
	display: flex;
	margin: 0 ; 
	padding: 0 ;
	position: relative;
	transition-duration: 0.5s ;

}

li{
	list-style-type: none;
}

a{
	text-decoration: none;
}

a:visited {
	text-decoration: none; 
}

a:hover {
	text-decoration: none; 
}

/*--------font------------*/

h1{
	font-size: 32px;
	font-weight: 400;
}

h4{
	font-size: 19px;
	font-weight: 400;
	line-height: 32px;
}

h6{
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}




/*--------header------------*/

.navbar{ 
	position: fixed;
	background-color: #fff; 
	width: 100% ; 
	height: 50px; 
	border-bottom: 1px solid #CBCBCB ; 
	z-index: 4 ;


}

.navbar a {
	font-size: 13px;
}

#resume{
	display: table ;
	float: left;
	position: relative;
	height: 100% ; 
	width: 200px ; 
	background-color: #003dd9 ; 

}

#resume:hover {
	background-color: #e12a49 ; 
	transition-duration: 1s ;
}

#resume a {
	color: white ;
	position: absolute;
	top: 50%;
	left: 50% ; 
	transform: translateY(-50%) translateX(-50%) ; 
}



.main_menu{
	display: flex;  
	justify-content: flex-end; 
}

.menu-item {
	margin: 0 40px ;
	align-items: center;
	width: 20% ;
}

.menu-item a {
	color: black ;


}



.menu-item a::before {
	content: url(../img/icon/dot.svg); 
	padding-right: 10px ; 
	opacity: 0;

}

.menu-item a:hover::before {
	content: url(../img/icon/dot.svg); 
	padding-right: 10px ; 
	opacity: 1 ; 
	transition-duration: 0.5s;

}


/*--------main------------*/

.main{
	display: flex;
	flex-direction: column;
	width: 90%;
}

.intro {
	margin-top: 100px ;
	margin-bottom: 60px;
	max-width: 50%;
	padding: 0 50px;


}


/*--------works------------*/

.works{
	
	display: flex;
	justify-content: flex-start;
	z-index: 1;
}

.works.second{
	margin-top: -80px;
}

.group-left .group-right{
	width: 50%;
	position: relative;
	display: flex;
	margin: 0;
}

.group-right{
	margin-top: 80px;
}

.card-work{
	position: relative;
	display: block;
	height: 600px;
	/*border: 1px solid black;*/
	padding: 50px 20px 50px 50px;

}

.card-work.blue{
	background-color: #003dd9;
	color: white;
	/*background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/9ed1cd59695577.5a2bc774521c4.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;*/
}

.card-work.lightblue{
	background-color: #b5ebff;
	
}

.card-work.red{
	background-color: #e12a49;
	color: white;
}

.card-work.black{
	background-color: black;
	color: white;
}


/*.work-title::before{
	content: url(../img/icon/dot.svg);
	position: relative;

}*/

.work-number{
	font-size: 20px;
	position: absolute;
	top:70px;
	right: 50px;
	
}

.work-img{
	height: 250px;
}


/*--------contact------------*/

.contact{
	display: block;
	position: relative;
	padding: 300px 150px;
	background-color: #ffd9c0;
	margin-top: -80px;
	z-index: 0;

}



.btn-contact{
	position: relative;
	border: 1px solid black;
	padding: 15px 20px;
	width: 150px;
	border-radius: 30px;
	text-align: center;
	font-size: 16px;
	color: black;
}


.btn-contact:hover{
	border: 1px solid #003dd9;
	color: #003dd9;
}


